extends layout

block title
  title Contact Us | Scribe

block content

  section(id="content" class="sixteen columns")

    h1  Contact Us
    p If you would like to contact us please use the form below
