extends layout

block content

  section(id="content" class="sixteen columns")
    div(class="sixteen columns" style="text-align: center")

      div#splashpage
        object(type="image/svg+xml" data="images/artwork.svg" style="margin-bottom: 1em;")
        h2 Simplicity Defined
        h3 No nonsense document authoring.
        h4 No bells and whistles. No Toolbars. Only what you need.
        p.push-top <a href="/auth/login" class="btn large has-icon"><i class="icon-twitter"></i> Sign in with Twitter</a>

        p
          a(href="http://skribe.it/p/-JcAN_fbG" class="btn") Example Document
