/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	body {
		background: #fff;
		font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }

.messages {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 48px;
	z-index: 1000;
	line-height: 48px;
	background: #3796C6;
	color: #fff;
	-webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
					box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
}

/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #181818;
		font-family: "Georgia", "Times New Roman", serif;
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }

pre, code, tt {
	white-space: -moz-pre-wrap;
	white-space: pre-wrap;
	padding: 0.5em;
}
pre {
	font-family: Inconsolata, monospace, sans-serif;
	font-size: 0.85em;
	border: 1px solid #E3EDF3;
	background: #F7FAFB;
	border-radius: 2px;
	margin-bottom: 20px;
	display: inline-block;
}



/* #Links
================================================== */
	a, a:visited { color: #333; text-decoration: underline; outline: 0; }
	a:hover, a:focus { color: #000; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


/* #Buttons
================================================== */

.btn {
	position: relative;


	font-size: 100%;
	background: none;

	border: 1px solid #ddd;
	padding: 0.5em;
	text-decoration: none;
	border-radius: 3px;
	-webkit-transition: all 400ms ease-out;
	 	 -moz-transition: all 400ms ease-out;
			-ms-transition: all 400ms ease-out;
			 -o-transition: all 400ms ease-out;
					transition: all 400ms ease-out;
}
button.btn {
	margin: 0 0 0 1em;
	padding: 0.5em 0.75em;
}
button.btn:focus {
	outline: none;
}

.btn.has-icon { padding: 0.5em 0.5em 0.5em 38px; }
.btn.large { font-size: 1.3em; }
.btn i {
	position: absolute;
	left: 0;
	color: #9ae4e8;
	font-size: 14px;
	-webkit-transition: color 800ms ease-in;
		-moz-transition: color 800ms ease-in;
			-ms-transition: color 800ms ease-in;
			-o-transition: color 800ms ease-in;
					transition: color 800ms ease-in;
}


.btn:hover {
	background: #3796C6;
	border-color: #3796C6;
	color: #fff;
}
.btn.red { color: #c63e37;font-weight: 800 }
.btn.red i { color: #c63e37; }
.btn.red:hover { background: #c63e37; color: #fff; border-color: #c63e37 }
.btn.red:hover i{ color: #fff; }

.btn:hover i { color: #fff; }

.btn.icon-small {
	padding-left: 28px;
}
.btn.icon-small i:before {
	font-size: 20px;
}
.icon-red { color: #c63e37 }

/* #Misc
================================================== */

	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }

	.push-top { margin-top: 2em !important; }
	.pad { padding: 1em !important; }
	.pad-b { padding-bottom: 1em !important; }
	.pad.small { padding:  0.5em !important; }

	.center-element { margin-left: auto !important; margin-right: auto !important; }

	.text-right { text-align: right; }
	.text-left { rext-align: left; }
	.text-center { text-align: center; }
	.text-uppercase { text-transform: uppercase !important; }

	.clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
		}
	* html .clearfix             { zoom: 1; }
	*:first-child+html .clearfix { zoom: 1; }
